* {
    color: aliceblue;
    margin: 0;
}

h1 {
    border-color: aquamarine;
    font-size: 50px;
    padding: 5%;
}

a:link {
    color: rgb:cornsilk ;
}

a:visited {
    color: rgb(rgb(132, 132, 173));
}

a:hover {
    color: aquamarine;
    text-decoration: none;
}

.intro {
    color:blue;
    font-size: 25px;
    background-color: aquamarine;
}

.alternativo {
    color: black;
}

#parrafo {
    color: white;
    background-color: purple;
    padding: 2%;

}

h1, h2, .intro {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}

.especial {
    color: blueviolet;
}

.outer {
    border: 5px solid black;
}

.box {
    padding: 10px;
    width: calc(90% - 30px);
    background-color: rebeccapurple;
    color: white;
}
